input[type="text"]{
    width: 150px;
    background: greenyellow;
    margin-bottom: 10px;
    /* border: thin; */
}

label[for="visitante"]{
    color: orangered;
    font-weight: bolder;
    font-size: large;
}